[submodule "78621fbcaaae032e1199"]
	path = 99-bugs-song
	url = https://gist.github.com/78621fbcaaae032e1199.git
[submodule "0b234f309f0d8b95ce0e"]
	path = writing-good-commit-msgs
	url = https://gist.github.com/0b234f309f0d8b95ce0e.git
[submodule "5545653dfc4e9efde687"]
	path = metronome
	url = https://gist.github.com/5545653dfc4e9efde687.git
[submodule "017317a16901ea009d06"]
	path = sequence-addition-calc
	url = https://gist.github.com/017317a16901ea009d06.git
[submodule "c60171c08b6f128b62bdb00e83b49b1f"]
	path = game-hangman
	url = https://gist.github.com/c60171c08b6f128b62bdb00e83b49b1f.git
